@model smloginregistration.Models.UserLogin

@{
    Layout = null;
}


<!DOCTYPE html>

<html>


<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Global.css" rel="stylesheet" />
</head>


<body>

    <table align="center" style="width:500px">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <tr>
                <td colspan="3" align="center">Login</td>
            </tr>
            <tr>
                <td>Username </td>
                <td>@Html.TextBoxFor(a => a.username)</td>
                <td id="val">@Html.ValidationMessageFor(a => a.username)</td>
            </tr>
            <tr>
                <td>Password</td>
                <td>@Html.PasswordFor(a => a.password)</td>
                <td id="val">@Html.ValidationMessageFor(a => a.password)</td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Login" class="btn btn-primary" /></td>
            </tr>
            <tr>
                <td>
                    @Html.ActionLink("Regiter Now", "Register", "Home")
                </td>
            </tr>
        }
    </table>
    @if (ViewBag.msg != null)
    {
        <div class="alert alert-danger">
            @ViewBag.msg
        </div>
    }

</body>


</html>

@section Scripts{
    @Scripts.Render("~/bundles/jquery");
}


